
*.xml
*.iml
cmake-build-debug
*.make
*.marks
*.cmake
*.cxx
white/week_2/10BusStops/cmake-build-debug/CMakeFiles/Makefile2
white/week_2/10BusStops/cmake-build-debug/CMakeCache.txt
white/week_2/10BusStops/cmake-build-debug/CMakeFiles/10BusStops.dir/CXX.includecache
